*{
 margin: 0;
 padding: 0;
}

body{
    background-color: #31ae00ab;
    color: #000000;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 2em;
}

input{
    border: solid 3px black;
    padding: 9px 10px;
    margin: 50px 15px;
    width: 200px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 29px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 10px;  
}

input:hover{
    background-color: #64a75c;
}

footer{
    border: #1aff00;
    margin: 20px;
}

div#res {
    margin-top: 20px;
}