body{
    background: #1c8c02a2;
    font: normal 15pt Helvetica;
}

header{
    text-align: center;
    color: #fff;
}

section{
    background: #fff; 
    color: #000;
    font: normal 10pt Helvetica;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #252424;
}

div{
    padding: 11px;
}

#foto{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
    }

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}