/* :root{
    --black: #1f1e1e;
    --grey: #494949;
    --white: #fafafa;
}
*{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font: normal 20px Arial; 

}
h1{
    font: normal 30px Arial;
    text-align: center;
    justify-content: center;
}
body{
    border: solid var(--grey);
    color: var(--white);
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}
div{
    border: groove var(--grey);
    border-radius: 100px;
    display: flex
    padding: 30px 20px;
    justify-content: center;
}
input{
    border: groove var(--grey);
    border-radius: 100px;            
    padding: 20px 0px;
}
p{
} */